.xqdd_highlight_disable {
}

.xqdd_highlight_new_word {
}


.xqdd_bubble {
    flex-direction: column;
    width: 200px;
    align-items: center;
    position: fixed;
    display: none;
    z-index: 1000000;
}
.xqdd_bubble_word{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.xqdd_bubble_word .xqdd_bubble_trans {
    width: auto;
    height: auto;
}

.xqdd_bubble_delete {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    right: 2px;
    top: 0;
    cursor: pointer;
}

.xqdd_bubble_delete:hover {
    background-color: #e81123;
    color: white;
}