.xqdd_highlight_new_word {
}


.xqdd_bubble {
    flex-direction: column;
    width: 200px;
    align-items: center;
    position: fixed;
    display: none;
    z-index: 1000000;
}

.xqdd_bubble_word .xqdd_bubble_trans {
    width: auto;
    height: auto;
}